.switchButton {
	cursor: pointer;
	display: inline;
}
	.switchButton div {
		padding: 8px 10px;
		display: inline;
	}

		.switchButton div:hover {
			background-color: #997799;
		}

		.switchButton div:active {
			background-color: #995599;
		}

		.switchButton .switchButtonSelected {
			background-color: #992299;
		}

	.switchButtonLeft {
		background-color: #999999;
		border-radius: 3px 0px 0px 3px;
		
	}

	.switchButtonRight {
		background-color: #999999;
		border-radius: 0px 3px 3px 0px;
	}

input[type="Radio"] {
	display: none;
}